.jumbotron{
    text-align: center;
    background-color: lightblue;
}
.aplicacao{
    /*font-family: "Playfair Display";*/
    align-content:center;
    padding: 10px 200px 10px 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: dimgray;
    
}
.form-control{
    margin-top: 5px;
}
.bloco{
    color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.blocoMenuLateral{
   
    border-right-style:solid;
    border-right-color:dimgray;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 400px;
}
.blocoConteudo{
    background-color: gainsboro;
    border-left-style:solid;
    border-left-color:dimgray;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.photo {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.formulario{
    margin-top:20px;
    margin-left: 20px;
}
.menuPrincipal:hover {
    background-color: lightblue;
}
   
