<div class="formulario">
    <form name="formCadastroProfissional" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-1">
                <label for="nomeProfissional">Nome: </label>
            </div>
            <div class="col-sm-8">
                <input type="text" ng-model="profissional.Nome" id="nomeProfissional" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                <label for="emailProfissional">Email: </label>
            </div>
            <div class="col-sm-6">
                <input type="text" ng-model="profissional.Email" id="emailProfissional" class="form-control" />
            </div>
        </div>
    </form>
</div>
