<!DOCTYPE html>
<html ng-app="thebook">
<head>
    <title>The Book</title>
	<meta charset="utf-8" />

    <!--Script-->
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../App.js"></script>
    <script src="../controller/listaProfissionalController.js"></script>
    <script src="../controller/aplicacaoController.js"></script>
    <script src="../controller/cadastroController.js"></script>
    <script src="../controller/comoFuncionaController.js"></script>
    <script src="../filters/filtroVariosValores.js"></script>
    
    <script src="../config/routeConfig.js"></script>
    <!--Script-->

    <!--Style-->
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/Site.css" rel="stylesheet" />
    <!--Style-->
</head>
<body class="aplicacao">
    <div ng-controller="aplicacaoController">
        <div class="jumbotron">
            {{appName}}
        </div>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="menuPrincipal"><a href="#">Home</a></li>
                <li class="menuPrincipal"><a href="#/comoFunciona">Como Funciona</a></li>

                <li class="menuPrincipal"><a href="#/profissionais">Lista de Profissionais</a></li>
                <li class="menuPrincipal"><a href="#/cadastro">Cadastre-se</a></li>

            </ul>
        </nav>
        <div class="col-sm-3 bloco blocoMenuLateral navbar-default">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
    <div class="col-sm-9 bloco blocoConteudo">
        <div class="sitepadding" ng-view>
        </div>
    </div>
</body>
</html>
